@page "/"
@using FullStack.Client;
@inject FullStack.Client.ValuesClient ValuesClient;

<h1>Values</h1>
@*Will be null while it is loading*@
@if (values != null)
{
    <ul>
        @foreach (string value in values)
        {
            <li>@value</li>
        }
    </ul>
}
else
{
    <text> Finding todos </text>
}


@functions{
    IEnumerable<string> values;
    protected override async Task OnInitAsync()
    {
        values = await ValuesClient.GetAllAsync();
    }
}
